/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ****************************************************** */

/* ******** Main Content ******** */
html, body{
    min-height: 100vh;
}

.welcome{
    height: 60vh;
    width: 100vw;
    background: url('./banner.jpg');
    background-attachment: fixed;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    filter: grayscale(40%);
}

.welcome_text{
    position: absolute;
    top: 8vh;
    left: 0;
    height: 60vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome_text span{
    line-height: 1.3;
    text-align: center;
    width: 80vw;
    padding: 50px 50px;
    font-size: 3vh;
    background-color: rgba(0,0,0,.5);
}


/* ----------------------------------------------- */
.section{
    min-height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section span{
    font-size: 2vh;
    width: 80%;
    text-align: center;
}




.parallax_1{
    min-height: 35vh;
    width: 100vw;
    background: url('.img/bible.jpg');
    background-attachment: fixed;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(40%);
}

.parallax_1 span{
    color: white;
    text-align: center;
    width: 80%;
    padding: 50px 50px;
    font-size: 3vh;
    background-color: rgba(0,0,0,.5);
}

.parallax_2{
    min-height: 35vh;
    width: 100vw;
    background: url('./KakaoTalk_20220404_172239257.jpg');
    background-attachment: fixed;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(40%);
}

.parallax_2 span{
    color: white;
    text-align: center;
    width: 80%;
    padding: 50px 50px;
    font-size: 3vh;
    background-color: rgba(0,0,0,.5);
}

.parallax_3{
    height: 100vh;
    width: 100vw;
    background: url('./sven-pieren-npl_R94xGZA-unsplash.jpg');
    background-attachment: fixed;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(40%);
}

.parallax_3 span{
    position: relative;
    top: -10%;
    color: white;
    text-align: center;
    width: fit-content;
    padding: 25px 25px;
    font-size: 3vh;
    background-color: rgba(0,0,0);
    transition: 250ms;
}

.parallax_3 span:hover{
    transform: scale(1.3);
}
